Implementacion de regresión lineal

Michelle Yareni Morales Ramón A01552627

In [19]:
import pandas as pd

Importar datos

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [20]:
df=pd.read_csv('/content/gdrive/MyDrive/IA_concentracion/co2_prueba.csv')

In [21]:
df

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248

Parametros iniciales.

Después de modificar los parametros iniciales en varias ocaciones se elegieron los siguientes, ya que estos reducían el error.

tetha 0 = 20

tetha 1 = 7

alpha = 0.0005

iteraciones = 1000

Para el conjunto x se elegio la variable 'Fuel Consumption Comb (mpg)' y se dividio, la mitad para train y la otra mitad para test.

La variable a predecir y es 'CO2 Emissions(g/km)' e igual se dividio la mita para train y la mitad para test.

In [84]:
#parametros iniciales
#tetha
t=[20,7]
#x,y
mitad=len(df)//2
#train
x = df['Fuel Consumption Comb (mpg)'].head(mitad)
y = df['CO2 Emissions(g/km)'].head(mitad)

#test
x_test = df['Fuel Consumption Comb (mpg)'].tail(mitad)
y_test = df['CO2 Emissions(g/km)'].tail(mitad)
#alpha
a=0.0005

#numero de iteraciones
it=1000

In [85]:
# Crear función lambda para la función de hipótesis
h = lambda X,t: t[0]+t[1]*X
# Calcular el total de muestras a partir de los datos (n)
n = len(x)

In [86]:
for i in range(it):
  delta = []
  delta_xi = []

  for xi, yi in zip(x, y):
      pred = h(xi, t)  # Predicción
      # Calcular delta para theta0 y para cada muestra
      delta.append(pred - yi)
      # Calcular delta para theta1 y para cada muestra
      delta_xi.append((pred - yi) * xi)

  # Calcular sumatorias y promedio
  djt0 = sum(delta) / n
  djt1 = sum(delta_xi) / n

  dj = [djt0, djt1]

  #actualizacion de tetha
  for i in range(len(t)):
    t[i]=t[i]-a*dj[i]

#tetha final
t

[33.68514286968843, 7.027344176117499]

Finalmente se evaluó el modelo con los datos x_test y_test.

MSE = 11924.34

MAE = 85.86

R2 = -2.55

In [87]:
#test
# predicciones
p=[]

# Barrer la entrada y estimar las salidas:
for xi in x_test:
  # Usar función de hipótesis
  pred = h(xi, t)
  p.append(pred)

In [88]:
def mean_squared_error(y_true, y_pred):
    n = len(y_true)
    mse = sum((y_true - y_pred) ** 2) / n
    return mse

mse = mean_squared_error(y_test, p)
print("Mean Squared Error:", mse)

Mean Squared Error: 11924.346262710691

In [89]:
def mean_absolute_error(y_true, y_pred):
    n = len(y_true)
    mae = sum(abs(y_true - y_pred)) / n
    return mae

mae = mean_absolute_error(y_test, p)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 85.8600261660259

In [90]:
def r_squared(y_true, y_pred):
    y_mean = sum(y_true) / len(y_true)
    ss_total = sum((y_true - y_mean) ** 2)
    ss_res = sum((y_true - y_pred) ** 2)
    r2 = 1 - (ss_res / ss_total)
    return r2

r2 = r_squared(y_test, p)
print("R-squared:", r2)

R-squared: -2.554380262861113